<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="css/main.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <h1>Page Not Found</h1>
<%- include('includes/end.ejs') %>
